/*基本的なスタイルを指定　main css*/
body {
  background-color: #e1e1e1;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;

  #toudai {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin-left: 4em;
  }

  #myicon {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin-right: 4em;
  }
}

main {
  margin-top: 100px;
  margin-left: 4em;
  margin-right: 4em;
}

section {
  margin-left: 4em;
  margin-right: 4em;
}

h2,
h3,
h4,
h5,
h6 {
  text-shadow: 4px 2px 3px rgb(184, 183, 183);
  text-align: center;
  justify-content: center;
  border-bottom: solid 3px #F9BC07;
  position: relative;


}

h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #186AAB;
  bottom: -3px;
  width: 30%;
}

h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #186AAB;
  bottom: -3px;
  width: 30%;
}

header {
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #CCC;
  top: 0;

  >h1 {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
  }
}

h1 {
  text-align: center;
}

#book {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1em;
  font-family: Segoe UI;
  color: #3a2f9e;
  text-decoration: underline;

  &:hover {
    color: #0aafe6;
  }
}

/* Google Fonts 読み込み */
/* import the Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/* 全体を囲うコンテナー */
/* the container surround hole part */


/* 時計の共通スタイル */
/* common style of clock */
.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #FABA09;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1.2;
  text-align: center;
}

/* 日付のスタイル */
/* style of date */
.clock-date {
  font-size: 20px;
}

/* 時間のスタイル */
/* style of time */
.clock-time {
  font-size: 30px;
}

/* 文字サイズ調整 */
/* adjusting the font-size */
@media screen and (max-width: 500px) {
  .clock-date {
    font-size: 5vw;
  }

  .clock-time {
    font-size: 30vw;
  }
}

/* 学生情報のスタイル */
.studentinfo {
  background-color: white;
  display: flex;
  border-radius: 1em;
  border-left: 0.25em solid #186AAB;
  border-right: 0.25em solid #F9BC07;
  margin-top: 1em;
  padding: 1em;

  .infolist {
    margin-top: 5.5em;
  }

  address {
    margin-left: -4em;
    margin-right: 3em;
    font-weight: bold;
    font-style: normal;
  }

  /* 東大ロゴの大きさ調整 */
  img {
    margin-right: 3em;
    height: 40%;
  }

  .utmap {
    margin-left: auto;
    margin-right: auto;
  }

  #clock {
    margin-left: auto;
    padding: 2em;
    border-radius: 50%;
    font-family: Segoe UI;
    background-color: #07355B;
  }
}

/*　予約リンクのスタイル　*/
.booking-site {
  display: flex;
  float: right;
}

.caption {
  text-align: left;
}

.catalogue {
  justify-content: center;
  text-align: center;

  >h2 {
    font-size: 2em;
  }

  >p {
    font-size: 1.5em;
  }

  >table {
    display: flex;
    justify-content: center;
  }
}

table img {
  width: 550px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  justify-content: center;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.index {
  >h3 {
    font-size: 2em;
  }

  >p {
    font-size: 1.5em;
    text-align: center;
  }

  >ul {
    font-size: 1em;
  }
}

a[target="_blank"] {
  display: inline-block;
  position: relative;
}

a[target="_blank"]::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1em;
  width: 1em;
  height: 1em;
  background-image: url("https://cdn.icon-icons.com/icons2/602/PNG/512/External_Link_icon-icons.com_55915.png");
  background-size: contain;
  background-repeat: no-repeat;
}



.animation {
  display: flex;
  margin: 50px 50px 50px 50px;
  transform: scale(0.75);
  justify-content: center;
}

footer {
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  background-color: #CCC;
  text-align: center;
  bottom: 0;

  >small {
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* 上に戻るボタン */
.pagetop {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  line-height: 3.3rem;
  border-radius: 3.3rem;
  text-align: center;
  cursor: pointer;
}

.pagetop:hover {
  color: #fff !important;
  background-color: #FFCD00;
  text-decoration: none;
}