/*affects subclass pages*/
.animation1 {
    float: left;
    display: flex;
    transform: scale(0.75);
    justify-content: left;
}

#information {
    >a {
        margin-right: 100px;
    }
}

.sentences {
    margin-top: 50px;
    margin-right: 50px;
    >p {
        font-size: 1.25em;
    }
}

.gallery {
    margin-top: 50px;
    background-color: #c9ffea; 
}
